<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="rtfparserkit-1.16.0" publicKeyToken="8783d630753e2b3f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.11.0.0" newVersion="10.11.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="jackcess-4.0.1" publicKeyToken="8783d630753e2b3f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.11.0.0" newVersion="10.11.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="sqlite-jdbc-3.36.0.3" publicKeyToken="8783d630753e2b3f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.11.0.0" newVersion="10.11.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="poi-5.2.2" publicKeyToken="8783d630753e2b3f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.11.0.0" newVersion="10.11.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
